/* I added variables to be used throught the css styling to reduce code complexity */
:root{
  --background: #101114;
  --primary-color: #1C1D20;
  --secondary-color: #4A4D57;
  --accent-color: #00FFC4;
  --text-color: #F9F9F9;
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; /* I set the font size in the html section to use rems in the other areas */
  color: var(--text-color);
}

body{
  font-size: 1rem; /* 1rem is equal to 16px */
  min-height: 100vh;
  padding: 0.625rem;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 6.5rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
}

.wrapper{
  max-width: 43.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

#todo-input{
  box-sizing: border-box;
  padding: 0.75rem 1.25rem;
  width: 100%;
  background: none;
  border: 2px solid var(--secondary-color);
  border-radius: 1000px;
  font: inherit;
  color: var(--text-color);
  caret-color: var(--accent-color);
}

#todo-input:focus{
  outline:none;
}

#add-button{
  position: absolute;
  top: 0;
  right: 0;
}

form{
  position: relative;
}

.todo{
  margin-bottom: 0.625rem;
  padding: 0 1rem;
  background-color: var(--primary-color);
  border-radius: 15px;
  display:flex;
  align-items: center;
}

.todo .todo-text{
  padding: 15px; /* Make padding larger here so the clickable area is bigger */
  padding-right: 0;
  flex-grow: 1;
}

.delete-button {
  padding: 3px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-button svg{
  transition: 200ms ease;
}

.delete-button:hover svg{
  fill: #ff0033;
}